@media(min-width:1000px){
    .hs-form
    {
        width: 95%;
        height: 95%;
        background: rgba(0,0,0,.6);
        padding: 20px 30px;
        font-size: 12px;
        margin: auto;
        line-height: 1;
    }

    .hs-form-field
    {
        margin: 0;
    }

    .hs-form .hs-form-required
    {
        display: none;
    }
    .hs-form .hs-form-radio-display
    {
    color:white;
    }

    .hs-form .hs-field-desc
    {
        color: white;
        font-size: 14px;
    }

    .hs-form input[type="text"],
    .hs-form input[type="password"],
    .hs-form input[type="email"],
    .hs-form input[type="tel"],
    textarea,
    .hs-form select
    {
        width: 100%;
        display: block;
        padding: 5px 10px;
        border: none;
        font-size: 14px;
        border-radius: 2px;
        height: 38px;
        background-color: #fff;
        /*background: {{ colorOffset }};*/
        color: #333333;
    }

    textarea
    {
        height: 70px;
    }

    .hs-richtext
    {
        color: white;
        margin-bottom: 20px;
        text-align: left;
    }

    .hs-form input[type="radio"]
    {
        margin-right: 10px;
        width: auto !important;
        display: inline;
    }

    .hs-form ul, .hs-form ol
    {
        list-style: none !important;
        padding-left: 0;
    }

    .hs-button
    {
        padding: 15px 10px;
        background: #e84118;
        color: #fff;
        display:block;
        margin-top:30px;
        text-align:center;
        font-size: 15px;
        font-weight:bold;
        border:none;
        display:block;
        width:100%;
        border-radius:2px;
    }
    #hsForm_9afb5d99-2905-47f5-802d-799bf3e75f1f .hs-button{
    background-color:#84bf5f;
    }
    .hs-button:hover
    {
        cursor: pointer;
    }

    #hsForm_9afb5d99-2905-47f5-802d-799bf3e75f1f label
    {
        font-size:20px;
        margin-bottom:10px;
        color:white !important;
    }
    #label-rendez_vous-9afb5d99-2905-47f5-802d-799bf3e75f1f
    {
        margin-top:30px;
    }
    #hsForm_9afb5d99-2905-47f5-802d-799bf3e75f1f input[type="submit"]
    {
        font-size:20px;
    }
    #pi_ce_jointe-9b283e1b-d1ed-48e1-959e-eac015671dea
    {
    color:white;
    }

    #hsForm_6bd4e866-909f-42c5-8d0d-75b26a368328{
        background-color:rgba(255, 255, 255,0);
        width:1437px;
        height:222px;
    }
    #hsForm_6bd4e866-909f-42c5-8d0d-75b26a368328 .input{
        margin-left:20px;
    }
    #hsForm_6bd4e866-909f-42c5-8d0d-75b26a368328 fieldset{
        max-width:none;
        max-height:70px;
    }
    #hsForm_6bd4e866-909f-42c5-8d0d-75b26a368328 select{
        height:48px;
        width:400px;
    }
    #hsForm_6bd4e866-909f-42c5-8d0d-75b26a368328 input[type="file"]{
        background: none;
        margin-left:-82px;
    }
    #hsForm_6bd4e866-909f-42c5-8d0d-75b26a368328 fieldset.form-columns-2 .hs-form-field{
        width:32.8%;
    }
    #email-6bd4e866-909f-42c5-8d0d-75b26a368328{
        width:31.4%;
    }
    #vote_projet-6bd4e866-909f-42c5-8d0d-75b26a368328{
        height:110px;
    }
    #hsForm_6bd4e866-909f-42c5-8d0d-75b26a368328 .hs-submit{
        margin-top:-90px;
        width:255px;
        margin-left:66%;
    }
    #hsForm_6bd4e866-909f-42c5-8d0d-75b26a368328 .hs-button{
        font-weight:bold;
        font-size:15px;
        height:25px;
        text-transform:uppercase;
        background-color:red;
        color: #fff;
        text-shadow: none;
        background-image: none;
        box-shadow: none;
        border-top: none;
        border-bottom: none;
        border-right: none;
        border-left: none;
        border-radius: 4px;
        transition: opacity 0.15s linear;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    #hsForm_6bd4e866-909f-42c5-8d0d-75b26a368328 .hs-error-msgs{
        margin-left:18px;
    }
    .hs-vote_projet label{
        margin-left:15px;
    }
    .hs_type_sac label{
        margin-left:15px;
    }
}